/****************************************************************************
  Main
 ***************************************************************************/
 main,
 .panel-content-item {
     /* Hides the overflowing wide images inside the modules */
    overflow-x: hidden;

    > section:not(.section--hero) {
       padding-top: map-get($spacers, 8);
       padding-bottom: map-get($spacers, 8);
    }

    .section--hero + section {
        padding-top: 0px;
    }

    section.section--curve-top {
        padding-top: 0px;
        margin-top: map-get($spacers, 8);
    }

    section.section--curve-bottom {
        padding-bottom: 0px;
        margin-bottom: map-get($spacers, 8);
    }

    &.hero--none {
		padding-top: map-get($spacers, 9);
		
		@include media-breakpoint-up(lg) {
			padding-top: 70px;
		}
    }
}

@include media-breakpoint-up(lg) {
    main,
    .panel-content-item {
        > section:not(.section--hero) {
           padding-top: map-get($spacers, 9);
           padding-bottom: map-get($spacers, 9);
        }

        > section:last-child {
            padding-bottom: map-get($spacers, 10);
        }

        > section.section--hero:last-child {
            padding-bottom: 0px;
        }

        section.section--0 {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        section.section--8 {
            padding-top: map-get($spacers, 6);
            padding-bottom: map-get($spacers, 6); 
        }

        section.section--20 {
            padding-top: map-get($spacers, 7);
            padding-bottom: map-get($spacers, 7); 
        }

        section.section--32 {
            padding-top: map-get($spacers, 8);
            padding-bottom: map-get($spacers, 8); 
        }

        .section--hero + section {
            padding-top: 0px;
        }

        section.section--curve-top {
            padding-top: 0px;
            margin-top: map-get($spacers, 9);
        }

        section.section--curve-bottom {
            padding-bottom: 0px;
            margin-bottom: map-get($spacers, 9);
        }
    }
}

/****************************************************************************
  Sections
 ***************************************************************************/
.section--light {
     background-color: $section-light-bg;
     color: $section-light-color;
}

.section--dark {
    background-color: $section-dark-bg;
    color: $section-dark-color;
}

.section--curve {
    height: 96px;
    overflow: hidden;

    svg {
        height: 97px;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

//One pixel dark top line fix for top curves mainly on Edge and IE11
.section--curve-top > .section--curve:first-child {
    position: relative;
    top: -1px;
}

.section--bordered {
    border-top: $section-bordered-border;
    border-bottom: $section-bordered-border;
    padding-top: map-get($spacers, 9); 
    padding-bottom: map-get($spacers, 9);
}

.section--narrow > .container {
    max-width: 986px;
}

// .fade--in, .fade--in-children > *:not(.mask__dot) {
//     transition: all 1s ease-in;  
//     opacity: 0;
// }

/****************************************************************************
  List Grid
 ***************************************************************************/
.module__list-grid {
    li > * {
        margin: 0 auto 20px;
    }
}

@include media-breakpoint-up(lg) { 
    .module__list-grid {
        li {
            display: flex;

            & > * {
                margin: 0 0 map-get($spacers, 8) 0;
            }
        }
    }
}

/****************************************************************************
  Global Navigation
 ***************************************************************************/
.header--global {
    position: absolute;
    width: 100%;
    z-index: 100;
    transition: background 0.5s ease-out;
}

.header--global.header--global-sticky {
    position: fixed;
    background-color: $section-dark-bg;
    color: $section-dark-color;
}

.navbar--global {
    color: $nav-text-color;
    display: block;
    padding: map-get($spacers, 6) 0;
    min-height: 60px;

    .logo--color {
        display: none;
    }

    .navbar-brand {
        padding: map-get($spacers, 6) map-get($spacers, 7);
        margin-left: 2px;
        margin-right: 0px;

        img {
            width: 90px;
        }

        &.navbar-brand-lg img {
            width: 160px;
        }
    }

    ul {
        @include list-unstyled;

        &:first-child {
            margin-top: map-get($spacers, 9);
        }

        a {
            font-family: 'Berlingske Sans', Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            display: block;
            padding: map-get($spacers, 7);

            &:hover, &.active {
                background-color: $nav-item-mobile-hover-bg;
                text-decoration: none;
            }
        }
    }

    hr {
        margin: map-get($spacers, 7);        
        border-top: $nav-hr-border;
    }

    .navbar-toggler {
        position: absolute;
        top: 12px;
        right: 12px;
        display: block;
        width: 20px; 
        height: 20px;
        padding: map-get($spacers, 6);
        margin: 0px;
        box-sizing: content-box;
        border: none;
        border-radius: 0px;
        background: $nav-close-bg;

        &.collapsed {
            background: $nav-burger-bg;
        }
    }
}

.header--global:not(.header--global-sticky) .navbar--global.navbar--text-dark {
    color: $nav-text-dark-color;

    .logo--light {
        display: none;
    }

    .logo--color {
        display: inline-block;
    }

    .navbar-toggler.collapsed {
        background: $nav-text-dark-burger-bg;
    }

    .list--actions {
        a {
            background: $nav-text-dark-search-bg;

            &.login {
                background: $nav-text-dark-login-bg;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar--global.expanded {
        background-color: $section-dark-bg;
        color: $nav-text-color;

        .logo--light {
            display: inline-block;
        }

        .logo--color {
            display: none;
        }
    }
}

@include media-breakpoint-up(lg) { 
    .navbar--global {
        @include make-container();
        @include make-container-max-widths();
        display: flex;
        flex-wrap: nowrap;
        padding: 12px 0;
        min-height: 70px;

        .navbar-brand {
            @include make-col(2, 12);

            img {
                width: 110px;
            }

            &.navbar-brand-lg img {
                width: 190px;
            }
        }

        .navbar-collapse {
            @include make-col(10, 12);
            display: flex;
            flex-grow: 1;
            flex-basis: auto;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            &:first-child {
                margin-top: 0px;
            }

            li {
                padding: 0 map-get($spacers, 7);
            }

            a {
                padding: map-get($spacers, 6) 0;
            }
        }

        .list--content {
            @include make-col(8, 10);
            flex-grow: 1;
            justify-content: center;

            li a:hover, li a.active {
                background-color: inherit;
                border-bottom: $nav-item-text-hover-border;
                padding-bottom: 6px;
            }
        }

        .list--actions {
            @include make-col(2, 10);
            justify-content: flex-end;

            li {
                margin: 0 map-get($spacers, 6);
                padding: 0px;
                border-radius: 20px;
                border: solid 1px transparent;

                &:last-child {
                    margin-right: 0px;
                }

                &:hover, &.active {
                    border: solid 1px;
                }
            }

            a {
                display: block;
                width: 20px;
                height: 20px;
                padding: map-get($spacers, 6);
                box-sizing: content-box;
                
                span {
                    @include sr-only();
                }

                &.search {
                    background: $nav-search-bg;
                }

                &.login {
                    background: $nav-login-bg;
                }
            }
        }

        hr, .navbar-toggler {
            display: none;
        }
    }
}

/****************************************************************************
  Breadcrumb
 ***************************************************************************/
 .breadcrumb {
    @include text--md();
    background: none;
    padding-left: 0px;

    .breadcrumb-item {
        &.active {
            color: inherit;
            font-weight: bold;
        }

        & + .breadcrumb-item::before {
            color: inherit;
        }
    }
 }

/****************************************************************************
  Footer
 ***************************************************************************/
.footer--global {
    padding-top: map-get($spacers, 9);
    padding-bottom: map-get($spacers, 9);
    @include text--md();

    .row--top {
        padding-bottom: map-get($spacers, 8);
    }

    .row--paysafe .logo img {
        width: 120px;
    }

    .row--paysafe-group .logo img {
        width: 210px;  
    }

    .row--paysafe, .row--paysafe-group {
        padding-top: map-get($spacers, 8);
        padding-bottom: map-get($spacers, 8);

        ul {
            @include list-unstyled;

            li {
                margin-bottom: map-get($spacers, 7);
            }
        }

        .logo {
            display: inline-block;
            margin-bottom: map-get($spacers, 8);
        }
    }

    .social {
        ul {
            padding-top: map-get($spacers, 8);
            justify-content: center;
        }
    }

    hr {
        border-top: $footer-hr-border;
        margin: 0;
    }

    .copyright p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0px;
    }
}

@include media-breakpoint-up(md) {
    .footer--global {
        .social ul {
            padding-top: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .footer--global {
        .row--paysafe, .row--paysafe-group {
            padding-top: map-get($spacers, 9);
            padding-bottom: map-get($spacers, 10);
        }
    }
}

/****************************************************************************
  Cookie Notice Bar
 ***************************************************************************/
.cookie--bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 42px 0;
    z-index: 1000;
    display: none;

    p {
        @include text--sm();
        margin: 0 0 map-get($spacers, 8) 0;

        a {
            @include link--text();
        }
    }
}

@include media-breakpoint-up(lg) {
    .cookie--bar {
        p {
            @include text--md();
            margin: 0;
        }

        .action {
            text-align: right;
        }
    }
}

/****************************************************************************
  Scroll Progress Bar
 ***************************************************************************/
 .progress-scroll {
     position: fixed;
     width: 100%;
     height: 8px;
     border-radius: 0;
     background-color: $progress-scroll-bg;
     z-index: 100;

     .progress-bar {
        background-color: $progress-scroll-progress-bg;
        transition: width 0.4s ease-out;
     }
 }

/****************************************************************************
  Tabs
 ***************************************************************************/
.nav-tabs {
    flex-wrap: nowrap;
    border-bottom: $nav-tabs-border;
    @include scroll--horizontal();
    overflow-y: hidden;

    .section--dark & {
        border-bottom: $nav-tabs-border-light;
    }

    .nav-item {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;

        /* Center items this way as horizontal scroll does not work with justify-content: center  */
        &:first-child {
            margin-left: auto;
        }

        &:last-child {
            margin-right: auto;
        }
    }

    .nav-link {
        padding: map-get($spacers, 7) 0px;
        color: inherit;
        font-size: 20px;
        line-height: 28px;
        border: none;
        border-bottom: $nav-link-border;

        &:hover, &:focus {
            border-color: $nav-link-hover-border;
        }

        &.active,
        .nav-item.show & {
            font-weight: bold;
            color: inherit;
            background: transparent;
            border-color: $nav-link-active-border;
        }
    }
}

.tab-pane {
    padding-top: map-get($spacers, 8);

    // .fade--in, .fade--in-children > * {
    //     opacity: 1;
    // }
}

/****************************************************************************
  Prev / Next Nav Links
 ***************************************************************************/
 .arrows-nav {
     a {
         @include text--sm;
         position: fixed;
         top: 335px;
         display: flex;
         justify-content: center;
         flex-direction: column;
         width: 240px;
         min-height: 120px;
         background-color: $arrow-nav-bg;
         font-weight: bold;
         text-decoration: none;
         padding-top: map-get($spacers, 6);
         padding-bottom: map-get($spacers, 6);
         transition: all 0.3s;
         z-index: 100;

         &.arrow-nav-left {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            padding-left: map-get($spacers, 9);
            padding-right: 40px;
            left: -180px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                right: 35px;
                top: calc(50% - 15px);
                width: 10px;
                height: 30px;
                background: $arrow-nav-left-bg;
                background-size: 10px auto;
            }
         }

         &.arrow-nav-right {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            padding-right: map-get($spacers, 9);
            padding-left: 40px;
            right: -180px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 35px;
                top: calc(50% - 15px);
                width: 10px;
                height: 30px;
                background: $arrow-nav-right-bg;
                background-size: 10px auto;
            }
         }

         small {
             font-size: 12px;
             color: $arrow-nav-small-color;
         }

         & > * {
            opacity: 0;
            transition: opacity 0.1s;
         }

         &:hover {
            & > * {
                opacity: 1;
            }

            &.arrow-nav-left {
                left: 0;

                &:before {
                    left: 20px;
                    right: auto;
                }
            }

            &.arrow-nav-right {
                right: 0;

                &:before {
                    left: auto;
                    right: 20px;
                }
            }
         }
     }

     @include media-breakpoint-down(lg) {
         display: none;
     }
 }

 /****************************************************************************
  Article/Item Panel
 ***************************************************************************/
 .panel-content-item {
    transition: all 0.3s;

    &.move-left {
        opacity: 0.4;
    }

    &.move-right {
        opacity: 0.4;
    }

    > section:last-child {
        padding-bottom: map-get($spacers, 9);
    }
 }

 /* Avoid navigation arrows overlapping the content */
 @media (min-width: 1200px) and (max-width: 1299.98px) {
    .arrows-nav + .panel-content-item {
        padding-left: 80px;
        padding-right: 80px;
    }
 }

/****************************************************************************
  Modal Window Full Screen
 ***************************************************************************/
.modal--fullscreen {
    .modal-dialog {
        height: 80vh;
        max-height: 80vh;
    
        @include media-breakpoint-up(md) {
            max-width: 90vw;
            width: 90vw;
        }
    }

    .modal-content {
        height: 80vh;
    }

    .modal-header {
        border-bottom: none;

        .close {
            padding-top: map-get($spacers, 6);
            padding-bottom: map-get($spacers, 6);
        }
    }

    .modal-body {
        height: calc(80vh - 60px);
        padding-top: 0px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.modal-backdrop {
    background-color: $modal-backdrop-bg;
    
    &.show {
        opacity: 0.8;
    }
}

/****************************************************************************
  Half-width, left-aligned container
 ***************************************************************************/
@include media-breakpoint-up(md) {

    .half-width-left-aligned {
        
        display: inline-block;
        float: left;
        width: calc(50% - 36px);
        margin: 0 18px;
        
    }

}

/****************************************************************************
  Typo3 Rich Text Editor
 ***************************************************************************/
.cke_editable { 
    a { 
        text-decoration: underline !important; 
    }

    ul li {
        padding: 0px 0px 10px 0px;
    }
}