/****************************************************************************
  Horizontal Scroll
 ***************************************************************************/
@mixin scroll--horizontal {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 

    > * {
        white-space: normal;
    }
}

/****************************************************************************
  Form Mixins
 ***************************************************************************/
@mixin form-control--slim() {
    background-color: $form-control-slim-bg; 
    color: $form-control-slim-color;
    border: none;
    border-bottom: $form-control-slim-border;
    border-radius: 0px;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0px;

    .section--dark & {
        border-bottom: $control-slim-light-border;
    }

    .form--slim.was-validated &.form-control:valid, 
    &.form-control.is-valid, 
    .form--slim.was-validated &.custom-select:valid, 
    &.custom-select.is-valid {
        border-bottom: $form-control-slim-border;
    }

    .form--slim.was-validated &.form-control:valid:hover, 
    &.form-control.is-valid:hover, 
    .form--slim.was-validated &.custom-select:valid:hover, 
    &.custom-select.is-valid:hover,
    .form--slim.was-validated &.form-control:valid:focus, 
    &.form-control.is-valid:focus, 
    .form--slim.was-validated &.custom-select:valid:focus, 
    &.custom-select.is-valid:focus,
    &:hover, &:focus {
        @include form-control--slim--active();
    }
}

@mixin form-control--slim--active() {
    color: $control-slim-light-active-color;
    border-bottom: $control-slim-active-border;
    padding-bottom: 5px;
    box-shadow: none;

    .section--dark & {
        color: $control-slim-active-color;
    }
}