@import 'module_hero';
@import 'module_cards';

/****************************************************************************
 Get in Touch Module
 ***************************************************************************/
.module--get-in-touch {
    text-align: center;

    img {
        margin-bottom: map-get($spacers, 8);
        max-width: map-get($sizes, 100);
    }

    p {
        margin-bottom: map-get($spacers, 8);
    }
}

/****************************************************************************
 Full Width Image
 ***************************************************************************/
 .module--image-full {
     img {
        width: 100%;
        max-width: 100%;
     }
 }

/****************************************************************************
 Text and Image Module
 ***************************************************************************/
.module--text-image {
    .row > .module__image {
        margin-bottom: map-get($spacers, 8);
        order: -1;
    }

    .module__image {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        img {
            width: 100%;
            max-width: 600px;
        }
    }

    .module__text {
        a {
            @include link--text();
        }

        img {
            max-width: 100%;
        }
    }

    //IE11 fix
    .justify-content-lg-end img {
        margin-left: -100px;
    }

    //Restore default value for all other browsers
    @supports(--css: variables) {
        .justify-content-lg-end img {
            margin-left: 0px;
        }
    }
}

@include media-breakpoint-up(lg) { 
    .module--text-image {
        .row > .module__image {
            margin-bottom: 0;
            order: 0;
        }

        .module__image {
            justify-content: flex-start;

            img {
                width: auto;
                max-width: none;
            }
        }
    }
}

@include media-breakpoint-down(md) { 
    .mobile-crop--left img {
        position: relative;
        left: -40%;
    }

    .mobile-crop--right img {
        position: relative;
        right: -40%;
    }
}

/****************************************************************************
  Text Module
 ***************************************************************************/
 .module--text {
     a {
        @include link--text();
     }

     img {
         max-width: 100%;
     }
 }

/****************************************************************************
  Cluster Text Module
 ***************************************************************************/
.module--cluster {
    .row > * {
        padding-top: 0px;
        padding-bottom: map-get($spacers, 9);
    }
}

@include media-breakpoint-up(lg) {
    .module--cluster {
        .row > * {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}

/****************************************************************************
  Module Image with Details
 ***************************************************************************/
 .module--image-detailed {
     img {
         width: 100%;
     }

     figcaption {
        @include text--details;
        text-align: center;
        margin-top: map-get($spacers, 7);
     }

     .circles--xl-1 {
         display: none;
     }

     @include media-breakpoint-up(lg) {
        .circles--xl-1 {
            display: block;
        }
     }
 }

/****************************************************************************
  Video Module
 ***************************************************************************/
.video-container {
    position: relative;
    overflow: hidden;

    &, iframe {
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
        height: 180px;
    }
}

.video-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: map-get($spacers, 7);
    background-color: $video-overlay-bg;
    text-align: center;

    &:hover {
        cursor: pointer;
    }

    h5 {
        margin-bottom: 0px;

        &:before {
            content: "";
            margin-bottom: map-get($spacers, 6);

            @include btn-play();
        }
    }
}

@include media-breakpoint-up(sm) {
    .video-container { 
        &, iframe {
            height: 324px;
        }
    }

    .video-container {
        h5 {
            margin-bottom: map-get($spacers, 7);
    
            &:before {
                margin-bottom: map-get($spacers, 7);
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .video-container { 
        &, iframe {
            height: 430px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .video-container { 
        border-radius: 10px;

        &, iframe {
            height: 558px;
        }
    }

    .video-overlay h5:before {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        left: calc(50% - 40px);
        background-size: 20px auto;
    }
}

/****************************************************************************
  Dev Module
 ***************************************************************************/
 .module--dev {
    pre, code {
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 14px;
        line-height: 1.8;
        color: $dev-code-color;
        border-radius: 4px;
    }

    :not(pre) > code[class*="language-"], pre[class*="language-"] {
        background: $dev-code-bg;
        padding-top: map-get($spacers, 7);
        padding-bottom: map-get($spacers, 7); 
        padding-left: 80px;
        overflow: hidden;
        margin-top: 60px;
    }

    pre[class*="language-"] {
        max-height: 410px;
        overflow-y: auto;
    }

    .token.selector, .token.attr-name, .token.string, 
    .token.char, .token.builtin, .token.inserted {
        color: $dev-code-color;
    }

    .token.boolean, .token.number {
        color: $dev-code-highlight-color;
    }

    .line-numbers .line-numbers-rows {
        line-height: 1.7;
        border-right: none;
        background-color: $dev-code-lines-bg;
        width: 40px;
        padding-top: 22px;
        padding-bottom: 20px;
        top: -24px;
        left: -80px;
    }
 }

 @include media-breakpoint-up(lg) {
    .module--dev {
        :not(pre) > code[class*="language-"], pre[class*="language-"] {
            margin-top: 0px;
        }
    }
}

/****************************************************************************
  Case Study Module
 ***************************************************************************/
.module--case-study {
    .case-study__body {
        padding-top: map-get($spacers, 8);
        padding-bottom: map-get($spacers, 8);
        text-align: center;

        & > div {
            margin: 0 auto;
        }

        img {
            max-width: 100%;
        }

        p {
            font-size: 20px;
        }

        h5:empty, h2:empty, p:empty {
            margin-bottom: 0px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .module--case-study {
        .case-study__body {
            padding-top: 160px;
            padding-bottom: 160px;

            p {
                font-size: 28px;
            }

            &.body--sm {
                padding-top: 90px;
                padding-bottom: 90px;
            }
        }
    }
}

/****************************************************************************
  Default Quote Module
 ***************************************************************************/
.quote {
    &:before {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background: $quotes-bg;
        background-size: 32px auto;
    }

    h3 {
        font-size: 28px;
        line-height: 38px;
        margin-top: map-get($spacers, 8);
        margin-bottom: map-get($spacers, 7);
    }

    small {
        @include text--md();
    }
}


@include media-breakpoint-up(md) {
    .quote {
        &:before {
            width: 120px;
            height: 120px;
            border-radius: 60px;
            background-size: 40px auto;
        }

        h3 {
            padding-left: 150px;
            margin-top: -90px;
        }

        small {
            padding-left: 150px;
        }
    }
}

/****************************************************************************
  Intro Headline Module
 ***************************************************************************/
.module--intro-headline {
    h2 {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 0px;
    }

    h3 {
        margin-bottom: map-get($spacers, 6);
    }

    h4 {
        margin-bottom: 0px;
    }

    h2:empty, h3:empty, h4:empty {
        margin-bottom: 0px;
    }
}

/****************************************************************************
  Journey Options Module
 ***************************************************************************/
.module--journey-options {
    text-align: center;

    h3 {
        padding-top: 120px;
        background: $journey-options-bg;
        background-size: 90px auto;
    }

    ul {
        @include list-unstyled();
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            margin: 0 map-get($spacers, 6) map-get($spacers, 6);
        }
    }
}

@include media-breakpoint-down(md) {
    .module--options {
        .btn-lead {
            font-size: 16px;
            padding: 8px 10px;
            min-width: 150px;

            &:not([disabled]):not(.disabled).active, 
            &:not([disabled]):not(.disabled):active, 
            .show > &.dropdown-toggle {
                padding: 7px 9px;
            }
        }
    }
}

/****************************************************************************
  Our Team page
 ***************************************************************************/
.section--our-team {

    @include text--md();

    img {
    
        max-width: 100%;
    
    }
    
    h2 {
        
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        margin: 0;
    
    }
    
    h4 {
        
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 10px;

    }
    
    .social {
        
        margin-top: 23px;
    
        a {
            
            border: 1px solid;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            width: 40px;
            height: 40px;
            margin: 10px;
    
        }
    
    }
    
    p {
        
        max-width: 522px;

    }

    .row > div {
    
        margin-bottom: 2em;

    }

}

@include media-breakpoint-down(sm) {
    .section--our-team .row > div.col-md-6 {
        order: -1;
    }
}

@include media-breakpoint-down(md) {
    .section--our-team {
        .mobile-crop--left img {
            left: -25%;  
        }

        .mobile-crop--right img {
            right: -25%;  
        }

        &:nth-child(odd) div.col-md-6 .mobile-crop--left img { 
            left: auto;
            right: -25%;
        }
    }
}

@include media-breakpoint-up(md) {
    .section--our-team {
        .mobile-crop--left img,
        .mobile-crop--right img {
            position: static;  
        }
    }
}

/****************************************************************************
  Press Releases page
 ***************************************************************************/

@include media-breakpoint-up(md) {

    .press-release-sidebar {
        
        width: 276px;
        float: right;
        margin-right: -102px;
        margin-left: 134px;
    
    }

    .carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-prev,.carousel-control .icon-next {
        width:30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px
    }

    .carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev {
        margin-left: -10px
    }

    .carousel-control .glyphicon-chevron-right,.carousel-control .icon-next {
        margin-right: -10px
    }

    .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px
    }

    .carousel-indicators {
        bottom: 20px
    }

    .section--press-releases .row img {
        width: 660px;
        height: auto;
    }

}

@include media-breakpoint-down(lg) {
    .section--press-releases .row img {
        width: 460px;
        height: auto;
    }
}

@include media-breakpoint-down(md) {
    
    .press-release-sidebar {
        
        order: 0;
        
    }

    .section--press-releases .container > .row > div {

        display: flex;
        flex-direction: column;
        
        > :nth-child(2) {
 
            order: -3;
            
        }
    
        > :nth-child(3) {
            
            order: -2;
            
        }
    
        > :nth-child(4) {
            
            order: -1;
            
        }

        img {
            width: 100%;
        }

    }
    
}

@include media-breakpoint-down(sm) {

    #carousel-news h4.year {
    
        padding: 0.4em 0 0.4em 0;
    
    }

}

.press-release-sidebar {
    
    font-size: 16px;
    
    time {
        
        display: block;
        color: #7887E6;
        margin-bottom: 10px;
        font-size: 14px;
        
    }
    
    p {
        
        border-bottom: 2px solid rgba(45, 35, 65, .1);
        padding-bottom: 24px;
        margin-bottom: 24px;

    }

    .press-release-pagination {
     
        border-top: 2px solid rgba(45, 35, 65, .1);
        border-bottom: 2px solid rgba(45, 35, 65, .1);
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        margin-bottom: 24px;
        padding: 10px 0;
        
        a, a:hover {
            
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            user-select: none;
            color: transparent;
            
            background: url(../assets/images/icons/arrow-navy-left.svg) center center no-repeat;
            background-size: 18px auto;
            
        }
        
        a:last-child {
            
            background-image: url(../assets/images/icons/arrow-navy-right.svg);
            
        }
        
    }
    
    .carousel-indicators {
        
        counter-reset: level1;
        justify-content: flex-start;
        margin: 0;
        
        li {
            
            background: none;
            opacity: 1;
            border-radius: 0;
            min-width: 20px;
            text-align: center;
            display: block;
            padding: .5em;
            margin: 0 1em 0 0;
    
            &:before {
            
                content: counter(level1);
                counter-increment: level1;
                text-indent: 0;
      
              }
              
              &:after {
                  
                  display: none;
                  
              }
          
          &.active {
              
              border-bottom: 2px solid #7887E6;
              
          }

        }

    }
    
    .press-releases > :not([data-active]) {
        
        display: none;

    }

}

main #carousel-news .tab-content a[href] {
    @include link--text();
    line-height: 26px;
}

#carousel-news {

    .year {
        text-align: center;
        padding: 0.25em 0 0.25em 0;
        margin: 0;
        font-size: 24px;
        width: 100%;
        margin-bottom: 1.25em;
    }
    
    div {
        clear: both;
        padding: 0;
        margin-bottom: 1em
    }
    
    .tab-pane > div {
        
        border-bottom: 2px solid #E0E0E0;
        padding-bottom: 1.5em;
        margin-bottom: 1.5em;

    }
    
    a[href].carousel-control {
        margin-bottom: 1em;
        display: block;
        background: none;
        height: 2.7em;
        margin: 0;
        background: url(../assets/images/icons/arrow-navy-right.svg) right center no-repeat;
        background-size: 20px auto;
    }
    
    a[href].carousel-control.left {
        background-image: url(../assets/images/icons/arrow-navy-left.svg);
        background-position: left center;
    }
    
    .carousel-control .glyphicon-chevron-left, #carousel-news .carousel-control .glyphicon-chevron-right {
        top: 1em;
        opacity: 0
    }
    
    .nav.nav-tabs {
        margin: 0;
        flex-grow: 1;
        display: flex
    }
    
    .pagination {
        display: flex;
        order: 1;
        width: 100%;
    }
    
    .nav-tabs > li > a, .nav-tabs > li > a:hover {
        margin: 0;
        padding: 0 0.5em;
        border: none
    }
    
    .carousel {
        position: relative
    }
    
    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0;
        border-top: 2px solid #E0E0E0;
        &:before {
            
            content: '';
            display: block;
            top: 52px;
            left: 0;
            right: 0;
            border-top: 2px solid #E0E0E0;
            position: absolute;
        }

    }
    
    .carousel-inner>.item {
        display: none;
        position: relative;
        -webkit-transition: .6s ease-in-out left;
        -o-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left;
        transition: none;
    }
    
    .carousel-inner>.item>img,.carousel-inner>.item>a>img {
        line-height: 1
    }
    
    .tab-content {
        
        width: 100%;

    }

    .nav-tabs {
        border: none
    }
    
    .nav-tabs > li > a, .nav-tabs > li > a:hover {
        border: none;
        border-bottom: 2px solid transparent;
        padding: 0 .5em;
        margin: 0 .1em;
        background: none;
        display: block;
        text-decoration: none;
    }

    .nav-tabs > li:first-child > a {
        margin-left: 0px;
    }

    .nav-tabs > li:last-child > a {
        margin-right: 0px;
    }
    
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
        color: #334466;
        background: none;
        outline: none;
        border-bottom: 2px solid #7887E6;
    }
    
    .carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev {
        display: block;
        display: flex;
        flex-direction: column;
    }
    
    .carousel-inner>.active {
        left: 0
    }
    
    .carousel-inner>.next,.carousel-inner>.prev {
        position: absolute;
        top: 0;
        width: 100%
    }
    
    .carousel-inner>.next {
        left: 100%
    }
    
    .carousel-inner>.prev {
        left: -100%
    }
    
    .carousel-inner>.next.left,.carousel-inner>.prev.right {
        left: 0
    }
    
    .carousel-inner>.active.left {
        left: -100%
    }
    
    .carousel-inner>.active.right {
        left: 100%
    }
    
    .carousel-control {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,0.6);
        background-color: transparent
    }
    
    .carousel-control.left {
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);
        background-image: -o-linear-gradient(left,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);
        background-image: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(0,0,0,0.5)),to(rgba(0,0,0,0.0001)));
        background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1)
    }
    
    .carousel-control.right {
        left: auto;
        right: 0;
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.5) 100%);
        background-image: -o-linear-gradient(left,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.5) 100%);
        background-image: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(0,0,0,0.0001)),to(rgba(0,0,0,0.5)));
        background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.5) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1)
    }
    
    .carousel-control:hover,.carousel-control:focus {
        outline: 0;
        color: #fff;
        text-decoration: none;
        opacity: .9;
        filter: alpha(opacity=90)
    }
    
    .carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        z-index: 5;
        display: inline-block
    }
    
    .carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left {
        left: 50%;
        margin-left: -10px
    }
    
    .carousel-control .icon-next,.carousel-control .glyphicon-chevron-right {
        right: 50%;
        margin-right: -10px
    }
    
    .carousel-control .icon-prev,.carousel-control .icon-next {
        width: 20px;
        height: 20px;
        line-height: 1;
        font-family: serif
    }
    
    .carousel-control .icon-prev:before {
        content: '\2039'
    }
    
    .carousel-control .icon-next:before {
        content: '\203a'
    }
    
    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        width: 60%;
        margin-left: -30%;
        padding-left: 0;
        list-style: none;
        text-align: center
    }
    
    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        border: 1px solid #fff;
        border-radius: 10px;
        cursor: pointer;
        background-color: #000 \9;
        background-color: transparent
    }
    
    .carousel-indicators .active {
        margin: 0;
        width: 12px;
        height: 12px;
        background-color: #fff
    }
    
    .carousel-caption {
        position: absolute;
        left: 15%;
        right: 15%;
        bottom: 20px;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,0.6)
    }
    
    .carousel-caption .btn {
        text-shadow: none
    }

}

/****************************************************************************
  Module Filter Articles
 ***************************************************************************/
 .module-filter--articles {
    @include text--md();

    .breadcrumb {
        display: none;
    }

    .form-control--search button {
        background-size: 16px auto;
        background-position-x: right;
    }

    .accordion--mobile-only {
        .toggle {
            margin-bottom: map-get($spacers, 6); 
            background: $accordion-expand-bg;
            background-position-y: 8px;
            border-bottom: $accordion-toggle-border;
            cursor: zoom-in;

            a {
                display: block;
                color: $filter-accordion-color;
                padding-bottom: map-get($spacers, 6); 
                text-decoration: none;
            }

            &[aria-expanded="true"] {
                font-weight: bold;
                cursor: zoom-out;
                background: $accordion-collapse-bg;
                border-bottom: none;

                a {
                    color: inherit;
                }
            } 
        }

        .collapse, .collapsing {
            & > div {
                justify-content: flex-end;
            }
        }

        .show {
            margin-bottom: map-get($spacers, 8); 
        }
    }

    @include media-breakpoint-up(lg) {
        .breadcrumb {
            display: flex;
        }

        .form-control--search button {
            background-size: auto;
            background-position-x: center;
        }

        .accordion--mobile-only {      
            .toggle {
                display: none;
            }
            
            .collapse, .collapsing {   		
                display: block !important;
                height: auto !important;
                
                .row > * {
                    word-break: break-word;
                    word-wrap: break-word;
                }  		
            }   
        }
    }
}

/****************************************************************************
  Module Author Intro
 ***************************************************************************/
.module--author-intro {
    h1 {
        @include title--lg();
        margin-bottom: map-get($spacers, 6);
    }

    h2 {
        @include text--lg();
    }

    p {
        @include text--sm();
    }

    .col-img img {
        width: 200px;
        height: auto;
        display: block;
        margin: 0 auto map-get($spacers, 9);
        border-radius: 50%;
    }  
    
    .circles--lg-2 {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        .col-text {
            text-align: left;
            display: flex;
            align-items: center;
        }

        .col-img img {
            width: 100%;
            position: relative;
            margin: 0;
        }
    }
    
    @include media-breakpoint-up(xl) {
        .circles--lg-2 {
            display: block;
        }
    }
}

/****************************************************************************
  Module Article Intro
 ***************************************************************************/
.module--article-intro {
    .col-text {
        text-align: center;
    }

    .col-img {
        order: -1;
    }

    h1 {
        @include title--lg();
    }

    p {
        @include text--sm();
    }

    .article__author {
        img {
           display: none;
        }
    }

    .list--dot-separators {
        a {
            @include link--text();
            color: $author-intro-name-color;
        }
    }

    .col-img img {
        width: 200px;
        height: auto;
        display: block;
        margin: 0 auto map-get($spacers, 9);
        border-radius: 50%;
    }

    .circles--lg-1 {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        .col-text {
            text-align: left;
            display: flex;
            align-items: center;
        }

        .col-img {
            order: 1;

            img {
                width: 100%;
                position: relative;
                margin: 0;
            }
        }

        .article__author {
            display: flex;
            align-items: center;
    
            img {
                display: inline-block;
                width: 70px;
                height: 70px;
                margin-right: map-get($spacers, 7);
                box-shadow: $card-hover-shadow;
                border-radius: 50%;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .circles--lg-1 {
            display: block;
        }
    }
}