/****************************************************************************
  Tables
 ***************************************************************************/
.table.table--default {
    td {
        font-size: 16px;
    }

    tbody tr:first-child {
        th, td {
            border: none;
        }
    }

    .section--light & {
        thead th {
            color: $table-dark-color;
            background-color: $table-dark-bg;
            border: none;
        }

        th,
        td,
        thead th {
          border-color: $table-dark-border-color;
        }
    }

    .section--dark & {
        thead th {
            color: $table-head-color;
            background-color: $table-head-bg;
            border: none;
        }
    }
    
}

.table {
    
    margin: map-get($spacers, 7) auto;
    
    td {
        
        font-size: map-get($spacers, 7);
        padding: 1.33rem;
    
    }

    thead {
        
        background: #D6DBF7;
        font-weight: bold;
        
        td {
            
            font-size: map-get($spacers, 7);
        
        }

    }
    
    tbody tr {
        
        box-shadow: 0 1px 0 #2D2341;
    
    }
    
}


